:root {
    --border: 2px;
    --depth: 0;
    --noise: 0;
    /* transition-property: color, background-color, outline-color, gap, outline-width, box-shadow, outline-offset, outline-color, transform, border-radius, border-color; */
    /* transition-timing-function: cubic-bezier(0.5, 1, 0.89, 1); */
    /* transition-duration: 0.15s; */
    /* transition-duration: 0.25s; */


    --radius-field: 6px;
    --radius-selector: 12px;
    --radius-box: 6px;

    --titlebar-size: 0px;
    --vh: calc(100vh - var(--titlebar-size));

    --tint-100o: 12%;
    --tint-200o: 15%;
    --tint-300o: 17%;

    --main-content-shadow: 0px 0px 3px 3px var(--color-shadow);
}





.theme-calc {
    --color-shadow: #01010fad;
    --color-soft-shadow: #01010165;
    --shadow-radius: 6px;
    --shadow-offset: 0px 0px;

    --color-background-1: var(--color-base-200);
    --color-border-1: var(--color-base-300);
    --border-1: 16px;

    --color-background-2: var(--color-base-100);
    --color-border-2: var(--color-base-200);
    --border-2: 12px;

    --color-background-3: var(--color-base-000);
    --color-border-3: var(--color-base-100);
    --border-2: 12px;

    --tint-100: 15%;
    --tint-200: 50%;
    --tint-300: 75%;

    


    --tinted-pri-100: color-mix(in srgb, var(--color-primary) var(--tint-100), #FFF);
    --tinted-pri-200: color-mix(in srgb, var(--color-primary) 10%, #000);
    
    --tinted-acc-100: color-mix(in srgb, var(--color-accent) var(--tint-100), #FFF);
    --tinted-acc-200: color-mix(in srgb, var(--color-accent) var(--tint-200), #FFF);

    --tinted-sec-100: color-mix(in srgb, var(--color-secondary) var(--tint-100), #FFF0);
    --tinted-sec-200: color-mix(in srgb, var(--color-secondary) var(--tint-200), #FFF0);
    --tinted-sec-100o: color-mix(in srgb, var(--color-secondary) var(--tint-100o), #000000);
    --tinted-sec-200o: color-mix(in srgb, var(--color-secondary) var(--tint-200o), #000000);
    --tinted-sec-300o: color-mix(in srgb, var(--color-secondary) 17%, #000000);
    --bd-filter: blur(5px) contrast(200%);
    --border-100: 2px solid var(--tinted-sec-100);

    --bg-straight: linear-gradient(90deg in srgb,
                color-mix(in oklch, var(--color-primary) 6%, #0000), 
                color-mix(in oklch, var(--color-primary) 4%, #0000), 
                /* color-mix(in oklch, var(--color-secondary) 4%, #0000),  */
                color-mix(in oklch, var(--color-secondary) 4%, #0000),
                color-mix(in oklch, var(--color-secondary) 6%, #0000));
    --bg-100: linear-gradient(105deg in srgb,
                color-mix(in oklch, var(--color-primary) 20%, #0000), 
                color-mix(in oklch, var(--color-primary) 8%, #0000), 
                /* color-mix(in oklch, var(--color-primary) 8%, #0000),  */
                color-mix(in oklch, var(--color-secondary) 8%, #0000),
                color-mix(in oklch, var(--color-secondary) 20%, #0000));
    --bg-200: linear-gradient(105deg in srgb,
                color-mix(in oklch, var(--color-primary) 30%, #0000), 
                color-mix(in oklch, var(--color-primary) 10%, #0000), 
                /* color-mix(in oklch, var(--color-primary) 10%, #0000),  */
                color-mix(in oklch, var(--color-secondary) 10%, #0000),
                color-mix(in oklch, var(--color-secondary) 30%, #0000));
    
    --box-shadow: 0 0 6px;

    --skeleton-bg: linear-gradient(
        110deg in lab,
        transparent 0%,
        transparent 40%,
        color-mix(in srgb, var(--color-primary) 6%, #0000) 45%,
        color-mix(in srgb, var(--color-primary) 10%, #0000) 48%,
        color-mix(in srgb, var(--color-secondary) 10%, #0000) 52%,
        color-mix(in srgb, var(--color-secondary) 6%, #0000) 55%,
        transparent 60%,
        transparent 100%
    );
}

.vh {
    height: var(--vh);
}

.max-vh {
    max-height: var(--vh);
}

.min-vh {
    min-height: var(--vh);
}


input::-ms-reveal,
input::-ms-clear {
display: none;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s !important;
}

::view-transition-group(root) {
  animation-duration: 0.15s;
}

::view-transition-group(.vertical_navbar) {
  animation-duration: 0s;
}

h2 {
    font-weight: 600;
    font-size: var(--text-xl);
}

.horizontal_separator {
    width: 100%;
    max-height: var(--border);
    height: var(--border);
    border-radius: var(--border);
    background-image: linear-gradient(115deg in srgb,
        color-mix(in oklch, var(--color-primary) 90%, transparent), 
        color-mix(in oklch, var(--color-secondary) 90%, transparent)
    );
}
.gradient_horizontal_separator {
    width: 100%;
    max-height: var(--border);
    height: var(--border);
    background-image: linear-gradient(115deg in srgb, 
            color-mix(in oklch, var(--color-primary) 0%, transparent), 
            color-mix(in oklch, var(--color-primary) 40%, transparent), 
            color-mix(in oklch, var(--color-secondary) 40%, transparent),
            color-mix(in oklch, var(--color-secondary) 0%, transparent)
        );
}

.dark-picker {
    --cp-bg-color: var(--tinted-sec-100o);
    --cp-border-color: #AAA2;
    --cp-text-color: var(--color-base-content);
    --cp-input-color: #9991;
    --cp-button-hover-color: #AAA2;
    /* border: 2px solid #AAAAAA0C; */
    /* background-color: var(--tinted-sec-200o); */
}
.input-container > *:focus-visible {
    border: 2px solid #AAAAAA0C !important;
    outline: 0 !important;
    background-color: var(--cp-button-hover-color);
}

.no-alpha > .color-picker > label > .container > .alpha {
    display: none;
}


.truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-base {
    border: 2px solid #AAAAAA0F;
    background-origin: border-box;
    /* box-shadow: 0 0 12px #000; */
}

.card-pad {
    padding: 0.75rem;
}

.card-100-border {
    border-radius: var(--border-1);
}

.card-100-shadow {
    box-shadow: 0 0 12px #000;
}

.card-100 {
    border: 2px solid #AAAAAA0F;
    background-color: var(--tinted-sec-100o);
    /* box-shadow: 0 0 12px #000; */
}

.card-200 {
    border: 2px solid #AAAAAA0C;
    background-color: var(--tinted-sec-200o);
}

.card-200-shadow {
    box-shadow: 0 0 12px #000;
}

.card-200-border {
    border-radius: var(--border-2);
}


.card-300 {
    padding: 0.75rem;
    border-radius: var(--border-1);
    border: 2px solid #AAA1;
    background-color: color-mix(in srgb, var(--color-secondary) 17%, #000000);
    box-shadow: 0 0 12px #000;
}


html {
    overflow-x: hidden;
    overflow-y: hidden;
}

[data-neo="true"] .btn-border {
    --col: var(--btn-color);
    --col-bg: var(--btn-bg);
    margin:  var(--border) var(--border);
    height: calc(var(--size) - var(--border) * 2);
    border: none;
    border-radius: var(--radius-field);
    outline-color: var(--col);
    outline-style: solid;
    outline-width: var(--border); 
    background: 0;
    color: var(--col);
    cursor: pointer;
    outline-offset: 0px;
    transform: scale(1);
    transition-property: color, background-color, outline-color, outline-width, box-shadow, outline-offset, outline-color, transform;
    transition-duration: 0.15s;
    &:is(:disabled, [disabled], .btn-disabled) {
        color: color-mix(in oklab, var(--btn-color, var(--color-base-200)), #000 30%);
        outline-color: color-mix(in oklab, var(--btn-color, var(--color-base-200)), #000 30%);
    }
}

[data-neo="true"] .btn-border:hover, .btn-border:focus-visible {
    outline-offset: var(--border);
    outline-color: var(--col);
    background-color: var(--col);
    transform: scale(1);    
    color: var(--btn-fg);
}

.btn {
    translate: unset !important;
}

[data-neo="true"] .btn-border:active {
    outline-color: var(--col-bg);
    color: var(--col-bg);
    transform: scale(0.97);
    outline-offset: -2px;
    background: 0;
    /* background-color: color-mix(in srgb, var(--col-bg), #000, 10%); */
}





.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-wrap: nowrap;
}

.undraggable {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* :focus {
     outline: 0;
} */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.swap-flip-vertical {
    transform-style: preserve-3d;
    perspective: 20rem /* 320px */;
    .swap-on, .swap-indeterminate, input:indeterminate ~ .swap-on {
        transform: rotateX(180deg);
        backface-visibility: hidden;
    }
    input:is(:checked, :indeterminate) ~ .swap-on, &.swap-active .swap-on {
        transform: rotateX(0deg);
    }
    input:is(:checked, :indeterminate) ~ .swap-off, &.swap-active .swap-off {
        transform: rotateX(-180deg);
        backface-visibility: hidden;
        opacity: 100%;
    }
}

@keyframes jiggle {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
}

.shake {
    animation: jiggle 0.3s ease forwards;
}

.my-skeleton {
    border-radius: var(--radius-box);
    background-color: #0000;
    @media (prefers-reduced-motion: reduce) {
        transition-duration: 15s;
    }
    will-change: background-position;
    animation: skeleton 1.8s ease-in-out infinite;
    background: var(--skeleton-bg);
    background-size: 200% auto;
    background-repeat: no-repeat;
    background-position-x: -50%;
}


@property --angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 90deg;
}
@property --off {
    syntax: "<length-percentage>";
    inherits: false;
    initial-value: -100%;
}


.brand {
    --angle: 105deg;
    --off : 0%;
    position: relative;
    border: 0.5rem solid transparent;
    background-origin: padding-box;
    mask-origin: padding-box;
    width: 100%;
    padding-bottom: calc(100% * (15 / 43));
}



.brand::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    image-rendering: pixelated;
    background-size: contain;
    background-repeat: no-repeat;
    background-image:
        linear-gradient(var(--angle) in lab, 
        var(--color-primary) calc(var(--off) + 0%),
        var(--color-secondary) calc(var(--off) + 50%),
        var(--color-primary) calc(var(--off) + 100%),
        var(--color-secondary) calc(var(--off) + 150%),
        var(--color-primary) calc(var(--off) + 200%)
        ),
        url("vesper-monochrome.png")
        ;
    -webkit-mask-image: url("vesper-monochrome.png");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-image: url("vesper-monochrome.png");
    background-blend-mode: color;
    animation: rotate-gradient 3s cubic-bezier(0.30,0.79,0.79,0.23) infinite;
}

/* .brand::before {
    content: "";
    opacity: 0.8;
    top: 0;
    right: 0;
    z-index: 1;
    position: absolute;
    translate: 40% 50%;
    rotate: 10deg;
    animation: brand-s 1s cubic-bezier(1,0,1,1) infinite;
    animation-direction: alternate;

    width: 20%;
    height: 20%;

    image-rendering: pixelated;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: linear-gradient(in srgb, var(--color-secondary)), url("beta.png");
    -webkit-mask-image: url("beta.png");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-image: url("beta.png");
    background-blend-mode: color;
}

@keyframes brand-s {
    from {
        scale: 1;
    }
    to {
        scale: 0.9;
    }
} */

@supports (-moz-appearance: none) {
    .brand::after {
        background-image:
            /* non-srgb with neg is broken in moz */
            linear-gradient(var(--angle) in srgb, 
                var(--color-primary) calc(var(--off) + 0%),
                var(--color-secondary) calc(var(--off) + 50%),
                var(--color-primary) calc(var(--off) + 100%),
                var(--color-secondary) calc(var(--off) + 150%),
                var(--color-primary) calc(var(--off) + 200%)
            ),
            url("vesper-monochrome.png");
    }
}

@keyframes rotate-gradient {
    0% {
        /* --angle: 130deg; */

        --off: -100%;
    }
    50% {
        /* --angle: 70deg; */

    }
    100% {
        /* --angle: 130deg; */
        --off: 0%;
    }
}


@keyframes shake {
  0% { transform: translate(0, 0); }
  25% { transform: translate(1px, -1px); }
  50% { transform: translate(-1px, 1px); }
  75% { transform: translate(1px, 1px); }
  100% { transform: translate(0, 0); }
}

.hover-shake:hover {
  animation: shake 0.25s infinite;
}

.no-focus:focus-visible {
    outline: none;
    border: none;
}

.pass-trough {
    pointer-events: none;
}



.embedded_content {
    display: flex;
    position: relative;
    border: 2px solid var(--color-shadow);
    /* margin-top: 2px;
    margin-left: 2px; 
	border-radius: var(--radius-box) 0 0 0;
    */
    height: 100%;
    padding: 4px;

    margin: 4px;
	border-radius: var(--radius-box);
    border: 2px solid #AAAAAA0F;
    background-color: var(--tinted-sec-100o);
}

.main_content {
    border: 2px solid #AAAAAA0F;
    display: flex;
    flex-direction: column;
    position: relative;
	/* background-color: var(--color-background-1); */
	border-radius: var(--radius-box);
    margin: 4px;
    /* padding: 4px; */
    height: calc(100% - 8px);
    overflow: clip;
}

.main_content_shadow {
    box-shadow: inset var(--main-content-shadow);
}

.main_content_outer_shadow {
    box-shadow: var(--main-content-shadow);
}